/* *{
    margin: 0;
    background-color: skyblue;
}

h1{
    background-color: lightcoral;
}

p{
    background-color: lightgreen;
} */

/* #title{
    background-color: lightgreen;
} */

/* .title{
    background-color: lightseagreen;
}

.text{
    background-color: lightslategrey;
}
[href]{
    background-color: limegreen;
}

[href="www.google.com"]{
    background-color: maroon;
}

[href^="color"]{
    background-color: mediumorchid;
}

[href$="azul"]{
    background-color: rgb(199, 27, 21);
}
 */

 /* .title{
     background-color: steelblue;
 }

 .text,
 .text-2{
     background-color: teal;
 }

.text-3,
.text-4{
    background-color: rgb(47, 128, 0);
} */

/* div .title-dos{
    background-color: violet;
} */

 .text-3{
    background-color: teal;
}
